<html lang="en">
<head>
    <title>fqc</title>
    <link rel="stylesheet" type="text/css" href="/css/fqc.css">
</head>
<body>

<div class="col-md-6" style="padding-left:4%;padding-bottom: 0px;">

    <h1><b><u>FQC Union</u></b></FQC></h1>
    <p>
        <span class="F">F</span>ood <span class="Q">Q</span>uality <span class="C">C</span>heck Union is the main body 
        responsible for maintaining the food quality and transportation of the food grains across the regions and act as 
        an umbrella organisation  for controlling food distribution its processing and management.<br>
         We undergo  regular food checks before the product is added to the open list and configure the required
        changes and grade accordingly.Our branches are present across all states.Our rating factor is equivalent across all regions and
        is ensured to be followed strictly.
    </p>
				   
    <div class="address-sec"><h4>Our Contacts:</h4> 
       <span style="margin-top:10px;"><img style="margin-bottom:35px;margin-top:3px;" alt="location" src="/img/loc.png">
       <b>Bhabha Bhawan,SVNIT Campus,<br> Icchanath, <br>Surat - 395007. <br></b></span>
       <span><img alt="Phone" src="/img/call.png">Help Desk No.: 9999 999 9999 </span><br>
      <span><img alt="Fax" src="/img/fax.png"> 01-0203-040506 </span><br>
        <span><img style="margin-bottom:75px;" alt="Email" src="/img/mail.png">Email id- <br><a href="">devhaste@co.org</a>,<br> <a href="">fqcu.helpdesk@gmail.com</a><br>
        <br>To Go to home page  <a target="_blank" href="/">
        <b>  Click Here</b></a> <br><br>Office Time: 09:00 AM. to 05:30 PM. </span>
    </div>
</div>



<footer>
    <p class="copyright">Copyright &copy 2021 DevHaste</p>
  </footer>

</body>
</html>