<html lang="en">
    <head>
        <title>LivePrice</title>
        <link  rel="stylesheet" href="css/price.css" type="text/css">
    </head>    
        <body>
           <h1> PRICE LIST</h1>
           <h3>API Used: <a href='https://api.data.gov.in/resource/9ef84268-d588-465a-a308-a864a43d0070?api-key=579b464db66ec23bdd000001cdd3946e44ce4aad7209ff7b23ac571b&format=json&offset=0&limit=10'>
            https://api.data.gov.in/resource/9ef84268-d588-465a-a308-a864a43d0070?api-key=579b464db66ec23bdd000001cdd3946e44ce4aad7209ff7b23ac571b&format=json&offset=0&limit=10</a></h3>
           
            <div id="label">
                <div id="arrival_date"><p><b><u>ARRIVAL DATE</b></u></p></div>
                <div id="commodity"><p><b><u>COMMODITY</b></u></p></div>
                <div id="district"><p><b><u>DISTRICT</b></u></p></div>
                <div id="market"><p><b><u>MARKET</b></u></p></div>
                <div id="min_price"><p><b><u>MINIMUM PRICE</b></u></p></div>
                <div id="max_price"><p><b><u>MAXIMUM PRICE</b></u></p></div>
                <div id="modal_price"><p><b><u>MODAL PRICE</b></u></p></div>
                <div id="state"><p><b><u>STATE</b></u></p></div>
                <div id="timestamp"><p><b><u>TIMESTAMP</b></u></p></div>
                <div id="variety"><p><b><u>VARIETY</b></u></p></div>
            </div>

            <h2>To go to the main page <a href="/">click here</a></h2>
            <script src='js/script.js'></script>
            <footer>
                Copyright &copy 2021 DevHaste
              </footer>
        </body>
    
</html>