<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>product</title>
    <link href="css/product.css" rel="stylesheet">
    <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
 <body>
   
    
      <form class="product" action="/idpasses" method="POST" style="color: white; ">
        <header>
            <h1>FarmFriend</h1>
          </header>
      <div class="log">
    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" class="form-control" placeholder="username.." name="username" required autofocus><br>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" 
    minlength="6"placeholder="Password.." required>
    </div>
    <br>
    <div class="prod">
        <label for="product type" class="sr-only">Product name</label>
        <input type="text" id="iproduct" class="form-control" placeholder="Product name.."  name="Productname" required autofocus><br>
        <label for="District" class="sr-only">District</label>
        <input type="text" id="idistrict" class="form-control"  name="district"
        placeholder="district.." required><br>
        <label for="product type" class="sr-only">FQC Rating(out of 5)</label>
        <input type="number" id="irating" class="form-control" placeholder="rating.."  name="rating" required autofocus><br>
        <label for="Variety" class="sr-only">Variety</label>
        <input type="text" id="ivar" class="form-control" placeholder="Variety...."  name="variety" required autofocus><br>
        <label for="price" class="sr-only">price</label>
        <input type="number" id="iprice" class="form-control" placeholder="price.." name="price" required autofocus><br>
        <br>
        <button class="submit" type="submit">Submit</button></a> 

    </div>
 
</form> 
</body> 

 </html>