#label {
    max-width: 100%;
    display:grid;
    grid-template-columns: repeat(10,1fr);
    line-height: 30px;
    border:5px solid cyan;
    padding:10px;
    color : white;
    grid-column-gap: 2px;
    
}

#label div{
    background:gray;
    text-align: center;
    width:100%;
}
#label div:nth-child(even){
    background: rgb(131, 102, 102);
}


p{
    width:100%;
    color: green;
}
body{
    background-color:rgba(32, 32, 32, 0.829);
    white-space: nowrap;
    position:absolute;
    max-width: 100%;
}

h3{
    color:brown;
    max-width: 100%;
    
}
a{
    color: darkblue;
    max-width: 100%;
    
}

h1{
    text-align: center;
}

footer{
    position:relative;
    width:100%;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 132px;
    margin-left: -10px;
    background: #F63232;
    color: white;
    padding: 20px;
    text-align: center;   
    white-space: nowrap;
    
  }